
.wjdh-float {
    position: fixed;
    left: 50%;
    bottom: 10%;
    margin-left: 580px;
    z-index: 999;
}

.wjdh-float > ul > li {
    position: relative;
}

.wjdh-float > ul > li > a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-bottom: 1px solid #000;
    float: none;
    margin: 0;
    padding: 0;
    background-image: none;
}

.wjdh-float > ul > li > ul {
    position: absolute;
    left: 50px;
    bottom: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    display: none;
}

.wjdh-float > ul > li > ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.wjdh-float > ul > li:hover > ul {
    display: block;
}

.wjdh-float .bdsharebuttonbox a {
    background-image: url(../images/ico-share.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.wjdh-float .bdsharebuttonbox a:hover {
    opacity: 1;
}


.wjdh-float > ul > li:hover > a,
.wjdh-float > ul > li > ul li:hover > a {
    background-color: #666;
    border-bottom: 1px solid #666;
}
