.breadcrumb a:hover{color: #313131;}
.wjdh-search .search-s{background: #313131; border: 1px solid #313131;}
.side-bar .side-bar-tit i{background-color: #313131;}
.side-bar .side-bar-tit h2{color: #313131;}
.side-bar dl dt{background-color: #313131;}
.side-bar dl .cur a,
.side-bar dl dd:hover a{background-color: #313131;}
.side-bar dl .tag a:hover{background-color: #313131;}
.side-contact .side-contact-phone{background-color: #313131;}
.wjdh-title h3{border-bottom: 1px solid #313131; color: #313131;}
.wjdh-title h3 a{color: #313131;}
.wjdh-title .tagcell span{background-color: #313131;}
.pages a:hover,
.pages span:hover{border: 1px solid #313131; color: #313131;}
.pages .current{background-color: #313131; border: 1px solid #313131;}
.relevant .title h3{color: #313131;}
.wjdh-h3 h3 a{color: #313131;}
.image-list .content ul li .border-top,
.image-list .content ul li .border-right,
.image-list .content ul li .border-bottom,
.image-list .content ul li .border-left{background-color: #313131;}
.image-list .content ul li:hover .title-a{color: #313131;}
.image-list .content ul li:hover .more{background-color: #313131; border: 1px solid #313131;}
.text-list ul li .border-top,
.text-list ul li .border-bottom{background-color: #313131;}
.text-list dl dt i{background-color: #313131;}
.text-list ul li:hover dd a{color: #313131;}
.express-lane dl dd a:hover{color: #313131;}
.bottom-contact .tel p span{color: #313131;}
.cat-menu .menu-list .cur a,
.cat-menu .menu-list span:hover a{background-color: #313131;}
.cat-menu .menu-list .cur:before,
.cat-menu .menu-list span:hover:before{border-top: 10px solid #313131;}
.list01 .list01-top:hover .info .more{background-color: #313131; border: 1px solid #313131;}
.list01 .list01-top .tag-hot{background-color: #313131;}
.list01 .list ul li:hover{border: 1px solid #313131;}
.list01 .list ul li:hover .more{background-color: #313131;}
.list01 .list ul li:hover .date span{color: #313131;}
.list02 .list ul li:hover{border: 1px solid #313131;}
.list02 .list ul li:hover .info .title-a{color: #313131;}
.list02 .list ul li:hover .info .more{background-color: #313131; border: 1px solid #313131;}
.list03 .list ul li .info i em{background-color: #313131;}
.news-list ul li:hover .more{color: #313131; border: 1px solid #313131;}
.news-center-company .company-top dl{background-color: #313131;}
.news-center-company .company-top ul li:hover .more{background-color: #313131; border: 1px solid #313131;}
.news-center-company .company-list .title dl{color: #313131;}
.news-center-company .company-list .title .title-h3 h3 a{color: #313131; border-bottom: 1px solid #313131;}
.news-center-company .company-list .list ul li:hover{border: 1px solid #313131;}
.news-center-company .company-list .list ul li:hover .more{background-color: #313131;}
.news-center-company .company-list .list ul li:hover .date span{color: #313131;}
.industry .industry-left .industry-title{background-color: #313131;}
.industry .industry-right .list ul li:hover{background-color: #313131;}
.industry .industry-right .list ul li:hover .more{background-color: #313131;}
.hot-rec .content .info .title-a{background-color: #313131;}
.hot-rec .content .info .online{background-color: #313131;}
.product-list ul li:hover{border: 1px solid #313131;}
.product-list ul li:hover .info .title-a{color: #313131;}
.product-list ul li:hover .info .more{color: #313131; border: 1px solid #313131;}
.prohead .hleft .smallimg dd li a:hover img,
.prohead .hleft .smallimg dd li a.hover img{border-color: #313131;}
.prohead .hright .title-a{color: #313131;}
.prohead .hright .info ul li{color: #313131;}
.prohead .hright .info ul li a{color: #313131;}
.prohead .hright .tel{color: #313131;}
.prohead .hright .tel span{color: #313131;}
.prohead .hright .online a{background-color: #313131;}
.contact .contact-text .title{background-color: #313131;}
.contact .contact-form p span{color: #313131;}
.contact .contact-form .form-button .online{background-color: #313131; border: 1px solid #313131;}
.contact .contact-form .form-button .online i{background-color: #313131;}
.driving-way .hd li.on{background-color: #313131;}
.driving-way .map-tab #result:hover{background-color: #313131;}
.message-page-box .on{border-bottom: 1px solid #313131;}
.message-page-box .submit:hover{background-color: #313131;}